@model SistemaLogistica.Domain.DTO.ProductDTO
<h1>Edit</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="row">
                <div class="form-group col-5">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group col-5">
                    <label asp-for="categoryId" class="control-label"></label>
                    <select asp-for="categoryId" class="form-control" asp-items="ViewBag.categoryId"></select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-5">
                    <label asp-for="fornecedorId" class="control-label"></label>
                    <select asp-for="fornecedorId" class="form-control" asp-items="ViewBag.fornecedorId"></select>
                </div>
                <div class="form-group col-5">
                    <label asp-for="quantityMinimun" class="control-label"></label>
                    <input asp-for="quantityMinimun" class="form-control" />
                    <span asp-validation-for="quantityMinimun" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <figure class="col-4">
                    <img src="~/Uploads/@Model.image" style=" width: 300px;" />
                </figure>
                <div class="col-3">
                    <a class="btn btn-info" asp-action="ImagePost" asp-route-id="@Model.id">&uarr; IMG</a>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}