@model SistemaLogistica.Domain.DTO.PersonDTO
<h1>Edit</h1>

<h4>Pessoa</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="row">
                <div class="form-group col-10">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-5">
                    <label asp-for="cep" class="control-label"></label>
                    <input id="cep" asp-for="cep" class="form-control" />
                    <span asp-validation-for="cep" class="text-danger"></span>
                </div>
                <div class="form-group col-5">
                    <label asp-for="country" class="control-label"></label>
                    <input id="country" asp-for="country" class="form-control" />
                    <span asp-validation-for="country" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-5">
                    <label asp-for="uf" class="control-label"></label>
                    <input id="uf" asp-for="uf" class="form-control" />
                    <span asp-validation-for="uf" class="text-danger"></span>
                </div>
                <div class="form-group col-5">
                    <label asp-for="city" class="control-label"></label>
                    <input id="city" asp-for="city" class="form-control" />
                    <span asp-validation-for="city" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-5">
                    <label asp-for="neighbourhood" class="control-label"></label>
                    <input id="neighbourhood" asp-for="neighbourhood" class="form-control" />
                    <span asp-validation-for="neighbourhood" class="text-danger"></span>
                </div>
                <div class="form-group col-5">
                    <label asp-for="street" class="control-label"></label>
                    <input id="street" asp-for="street" class="form-control" />
                    <span asp-validation-for="street" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-2">
                    <label asp-for="number" class="control-label"></label>
                    <input asp-for="number" class="form-control" />
                    <span asp-validation-for="number" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/js/cepAPI.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}