<div class="h-100 p-5 bg-primary border rounded-3">
	<img class="img-fluid" src="~/img/banner.jpeg" alt="Banner com diferentes tipos de sucos"/>
	<h2>Drink's Estoque</h2>
	<p>Drink's Estoque é um sistema de controle de estoque de bebidas que
		te da total liberdarde para adicionar bebidas e tipos de bebida, 
		para que se adapte bem ao seu negócio.</p>
	<p> Com o Drink's Estoque é possível controlar entrada e saída de 
		produtos, o responsável pelas movimentações, além de ter a 
		informação de estoque baixo ao ser visualizado na 
		tabela de produtos.
	</p>
</div>